.logo img {
    width: 50px;
    height: 50px;
}

.pic img {
    width: 100px;
    height: 100px;
}

.box_container img {
    width: 100px;
    height: 100px;
}

footer img {

    width: 50px;
    height: 50px;
}